<!doctype html>



    <html lang="en">
    <head>
    
      <!-- Webpage Title -->
      <title>Hello, world!</title>
    
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
      <!-- JS -->   
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
       <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
      <!-- 구글폰트 -->
      <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    
      <script>



        $(document).ready(function () {
            $('#cards-box').html('');
            listing();
        });

// 이름짓기//

        // function naming(){
        //   let ID = $('#ID').val();
        //   let newName = $('#newName').val();
        //   let mean = $('#mean').val();
        //   let like = 1;


        //   $.ajax({
        //     type: "POST",
        //     url: "/naming_ko",
        //     data: {ID = ID , newName = newName, mean = mean},
        //     success: function (response) {
        //       if (response['result'] == 'success'){
        //         alert(response['msg']);
        //         $('#ID').val('');
        //         $('#newName').val('');
        //         $('#mean').val('');
        //         window.location.reload();
        //       }
        //     }

        //     //좋아요 추가하기
        //   });
        // }

//이름 없는 동물 랜덤//
        function random_A(){
        $('#cards-box').empty();
        $.ajax({
          type: "GET",
          url: "/animal_ko",
          data: {},
          success: function (response) {
            if (response['result'] == 'success') {

            console.log(response['NoName_A'])

            

            }
          }
        });
        }


// 동물조회하기//

        function listing() {
        $('#cards-box').empty();

        $.ajax({
            type: "GET",
            url: "/animal_ko",
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {

                    console.log(response['animal_list'])

                    // let showCards = response['animal_list']

                    // for (let i=0; i<showCards.length; i++){

                     

                    //   make_card(animal_list[i]['image'],animal_list[i]['url'],animal_list[i]['이름'],
                    //   animal_list[i]['공고번호'],animal_list[i]['접수일자'],animal_list[i]['품종'],animal_list[i]['성별'],
                    //   animal_list[i]['발견장소'],animal_list[i]['특징'],animal_list[i]['상태']);
                      
                    // }
                } else {
                    alert('동물 조회에 실패했습니다.');
                }
            }
        })
    }

        function make_card(image, url, 이름, 공고번호, 접수일자, 품종, 성별, 발견장소, 특징, 상태,) {
            let temp_html = 

                            '<div class="card">\
        <img class="card-img-top" src="'+ image + '" alt="Card image cap">\
        <div class="card-body">\
          <a href="'+ url + '" class="name">' + 이름 + '</a>\
          <p class="number">'+ 공고번호 + '</p>\
             <p class="day">'+ 접수일자 + '</p>\
             <p class="kind">'+ 품종 + '</p>\
             <p class="gender">'+ 성별 + '</p>\
             <p class="find">'+ 발견장소 + '</p>\
             <p class="character">'+ 특징 + '</p>\
          <p class="care">'+ 상태 + '</p>\
        </div>\
      </div>';
            $('#cards-box').append(temp_html);
        }

  

        

      </script>
    
      <!-- style -->
      <style typez="text/css">
        * {
          font-family: 'Stylish', sans-serif;
        }
        .wrap {
          width: 900px;
          margin: auto;
        }
        .comment {
          color: blue;
          font-weight: bold;
        }
        .form-post {
          max-width: 500px;
          padding: 2rem;
          margin: 2rem auto;
          border-color: #e9ecef;
          border-radius: 0.3rem;
          border: solid;
          display: block;
        }
        #posting-box {
          display: none;
        }

        .test_class{
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
        }


        body, html {margin: 0; padding: 0; height: 100%;}

        /* 메뉴바 */
        header{
         height: 75px; background-color:#197688; border: 1px solid #253342;
         position: fixed; width:100%; z-index:9999; top: 0; left: 0;
        }
        .wrapper{width: 1170px; margin: 0 auto;}
        .wrapper h1{color: white; line-height: 75px; float: left;}
        .menu{float: right;}
        .menu li{float: left; display: block;}
        .menu li a{line-height: 75px; color: white; padding: 0 15px; display: block;}
       
       
       /* 메인페이지 */
        .main{
            min-width: 100%;
            min-height: 100%;

           }
        .background_img{
          
           border: 0;
           padding: 0; 
           background-position: center;
           background-size: cover;
           }


      </style>
    
    </head>
    <body>
        
        <header>
          <div class="wrapper">
            <h1>LOGO</h1>
            <nav>
              <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="">동물 조회</a></li>
                <li><a href="">이름 짓기</a></li>
              </ul>
            </nav>
          </div>
        </header>


            <div class =" main">
            
                <div style="position: absolute;">
            
                  <img src="C:\Users\girl\Desktop\sparta\animalproject\templates\img\main_text.png"></img>
            
                </div>
            
                <img src="C:\Users\girl\Desktop\sparta\animalproject\templates\img\main.png"class = "background_img"></img>
            
            </div>


<section>
      <div class="wrap">
        
        <div class="menu_1">
          <h1 style="text-align: center;">동물 조회</h1>
          <hr>
          <button onclick="naming()" class="btn btn-primary">기사저장</button>
  
        </div>
        <div class="card-columns"  id="cards-box">
          <div class="card">
            <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
            <div class="card-body">
              <a href="#" class="name">이름</a>
              <p class="number">공고번호</p>
              <p class="day">접수일자 </p>
              <p class="kind">품종</p>
              <p class="gender">성별</p>
              <p class="find">발견장소</p>
              <p class="character">특징</p>
              <p class="care">상태</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="name">이름</h5>
              <p class="number">공고번호</p>
              <p class="day">접수일자 </p>
              <p class="kind">품종</p>
              <p class="gender">성별</p>
              <p class="find">발견장소</p>
              <p class="character">특징</p>
              <p class="care">상태</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="name">이름</h5>
              <p class="number">공고번호</p>
              <p class="day">접수일자 </p>
              <p class="kind">품종</p>
              <p class="gender">성별</p>
              <p class="find">발견장소</p>
              <p class="character">특징</p>
              <p class="care">상태</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="name">이름</h5>
              <p class="number">공고번호</p>
              <p class="day">접수일자 </p>
              <p class="kind">품종</p>
              <p class="gender">성별</p>
              <p class="find">발견장소</p>
              <p class="character">특징</p>
              <p class="care">상태</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="name">이름</h5>
              <p class="number">공고번호</p>
              <p class="day">접수일자 </p>
              <p class="kind">품종</p>
              <p class="gender">성별</p>
              <p class="find">발견장소</p>
              <p class="character">특징</p>
              <p class="care">상태</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="name">이름</h5>
              <p class="number">공고번호</p>
              <p class="day">접수일자 </p>
              <p class="kind">품종</p>
              <p class="gender">성별</p>
              <p class="find">발견장소</p>
              <p class="character">특징</p>
              <p class="care">상태</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    </body>
    </html>